* {
    box-sizing: border-box;
    padding : 0;
    margin : 0 auto;
 }

body{
    overflow: hidden;
}
    /*** ======= REGISTER FORM ======= ***/
    
.login-message{ /* "Or use your email for registration :" */
    font-family: 'Poppins', sans-serif; 
    font-size: 13px;
    color: rgb(168, 158, 158);
    text-align:center; /*for p*/
}
#input-email{ /*set box email*/
    background-color: rgb(243, 243, 243);
    border: none;
    width: 80vh;
    height: 8vh;
}

#input-pass{  /*set box password*/
    background-color: rgb(243, 243, 243);
    border: none;
    width: 80vh;
    height: 8vh;
}

.form-control::-webkit-input-placeholder{  /*SET : email & pass placeholder*/
    color: rgb(185, 185, 185);
}

.about-border {  /*line devider*/
    display: block;
    width: 80vh;
    height: 2px;
    background: #C8BB98;
    margin: 20px auto;
}

.submit-button{  /*Submit button*/
    color: white;
    background-color:#C8BB98;
    border-color: transparent;
    border-radius: 30px;
    width: 25vh;
    height: 6vh;
}
.submit-button-side{  /*Submit button*/
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 30px;
    width: 25vh;
    height: 6vh;
}
.submit-button:hover{
    color: #C8BB98;
    border-color: #C8BB98;
    background-color:transparent;
}
.submit-button-side:hover {
    background-color:#C8BB98;
    color: white;
    border-color: #C8BB98;
}
/*** ======= WELCOME BACK! ======= ***/
.img-fluid{
    width: 100%;
    height: 100vh;
    right: 0;
}
.side-content {
    position: relative;
}
.btn {
    position: absolute;
    top: 56%;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.paraf {
    width: fit-content;
    color: white;
    position: absolute;
    top: 38%;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.paraf2 {
    width: fit-content;
    color: white;
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.paraf3 {
    width: fit-content;
    color: white;
    position: absolute;
    top: 48%;
    left: 18%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/*** ======= REGISTER ======= ***/
#input-email, #input-pass{
    height: 45px;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 600px){
    .img-fluid{
        display: none;
    }
}